html
    head
        title bellagio
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(charset="utf-8")
        link(href='css/bootstrap.min.css', rel='stylesheet')
        link(href='css/owl.carousel.css', rel='stylesheet')
        link(href='css/font.css', rel='stylesheet')
        link(href='css/jquery-ui.css', rel='stylesheet')
        link(href='css/wickedpicker.css', rel='stylesheet')
        link(href='css/animate.min.css', rel='stylesheet')
        link(href='css/style.css', rel='stylesheet')

    body
        header
            .container
                nav.nav
                        .nav__item-language.nav__item
                            a(href='') рус
                        .nav__item
                            a(href='') О нас
                        .nav__item
                            a(href='') Услуги
                        .nav__item
                            a(href='') Косметика
                        .nav__item.nav__item--logo
                            a(href='')
                                img(src=('./img/logo.png'))
                        .nav__item
                            a(href='') Наш Блог
                        .nav__item
                            a(href='') Контакты
                        .nav__item
                        .nav__item.nav__item-contact
                            a(href='') +38 (044) 289 00 00
        .col-md-12.main
            .container
                .owl-carousel.main-slider
                    .item
                        img(src=('./img/slider-main.jpg'))
                        .main-slider__block
                            .main-slider__title Окунитесь в мир <br> нежности и блаженства
                            .main-slider__description Почувствуйте все преимущества настоящего профессионального ухода. Позвольте себе расслабляющие и оздоровительные процедуры для восстановления красоты и душевной гармонии Вашего тела.
                            a.btn-more Подробнее
                    .item
                        img(src=('./img/slider-main.jpg'))
                        .main-slider__block
                            .main-slider__title Окунитесь в мир <br> нежности и блаженства
                            .main-slider__description Почувствуйте все преимущества настоящего профессионального ухода. Позвольте себе расслабляющие и оздоровительные процедуры для восстановления красоты и душевной гармонии Вашего тела.
                            a.btn-more Подробнее
                    .item
                        img(src=('./img/slider-main.jpg'))
                        .main-slider__block
                            .main-slider__title Окунитесь в мир <br> нежности и блаженства
                            .main-slider__description Почувствуйте все преимущества настоящего профессионального ухода. Позвольте себе расслабляющие и оздоровительные процедуры для восстановления красоты и душевной гармонии Вашего тела.
                            a.btn-more Подробнее
        .about
            .container
                .about__block.col-md-7.col-sm-12
                    .h1 Окунитесь в мир <br> нежности и блаженства
                    .about__description Салон красоты Bellagio — уникальное место в самом сердце столицы, где творятся чудеса: успокаивающая и расслабляющая атмосфера в сочетании с заботливыми руками мастеров делает чудесные превращения тела и духа. Наш опыт работы подтверждает, что молодость — вечная, только ее нужно умело подчеркнуть и представить миру.
                    a.btn-more Подробнее о салоне
                .about__img.col-md-5.col-sm-hidden
                    img(src=('./img/about.jpg'))
        .services
            .container
                .owl-carousel.services-slider
                    .item
                        img(src=('./img/service-1.jpg'))
                        .services__block
                            p Уход за волосами
                            span 01
                    .item
                        img(src=('./img/service-2.jpg'))
                        .services__block
                            p Уход за телом
                            span 02
                    .item
                        img(src=('./img/service-3.jpg'))
                        .services__block
                            p Услуги косметолога
                            span 03
                    .item
                        img(src=('./img/service-4.jpg'))
                        .services__block
                            p Маникюр и педикюр
                            span 04
                    .item
                        img(src=('./img/service-1.jpg'))
                        .services__block
                            p Уход за волосами
                            span 01
                    .item
                        img(src=('./img/service-2.jpg'))
                        .services__block
                            p Уход за телом
                            span 02
                    .item
                        img(src=('./img/service-3.jpg'))
                        .services__block
                            p Услуги косметолога
                            span 03
                    .item
                        img(src=('./img/service-4.jpg'))
                        .services__block
                            p Маникюр и педикюр
                            span 04
                a.btn-more Записаться прямо сейчас
        .team
            .container
                .h1 Наши <br> специалисты
                .owl-carousel.team-slider
                    .item
                        img(src=('./img/slider-team.jpg')).col-md-6
                        .team__block.col-md-6.col-sm-12
                            .team__title Екатерина Тарасенко
                            .i Парикмахер / Стилист
                            p Всегда приятно видеть людей, влюбленных в свою работу. Натали креативна и разнообразна, мастерски справляется с любыми стрижками и прическами, и дополнит образ красивым макияжем, поможет подобрать ваш образ до неузнаваемости.
                            a.btn-more Записаться
                    .item
                        img(src=('./img/slider-team.jpg')).col-md-6
                        .team__block.col-md-6.col-sm-12
                            .team__title Екатерина Тарасенко
                            .i Парикмахер / Стилист
                            p Всегда приятно видеть людей, влюбленных в свою работу. Натали креативна и разнообразна, мастерски справляется с любыми стрижками и прическами, и дополнит образ красивым макияжем, поможет подобрать ваш образ до неузнаваемости.
                            a.btn-more Записаться
        .news
            .container
                .col-md-6.news-h1.col-sm-12
                    .h1 Последние <br> Публикации в блоге
                .col-md-6.news-coffee
                    .news-coffee-block
                    p.hidden-sm MMXVI
                .news__item.col-md-6.col-sm-12
                        .news__item-block
                            img(src=('./img/blog-1.jpg'))
                            .news__item-date 14 августа 2016
                            .news__item-title Инновационное средство для разглаживания и выпрямления волос №1 в мире!
                .news__item.col-md-6.col-sm-12
                    .news__item-coffee
                        img(src=('./img/blog-2-1.jpg'))
                    .news__item-block
                        img(src=('./img/blog-2.jpg'))
                        .news__item-date 10 августа 2016
                        .news__item-title Курс из 5 ритуалов Kerastase сделают ваши волосы здоровыми и сияющими
                .news__item.col-md-6.col-sm-12
                    .news__item-block
                        img(src=('./img/blog-3.jpg'))
                        .news__item-date 02 августа 2016
                        .news__item-title SPA-маникюр — эксклюзивная процедура, великолепно увлажняет и питает кожу рук. Ваши руки будут выглядеть безупречно! 
                .news__btn.col-md-6.col-sm-12
                    .news-more
                        .news-icon
                            span
                            span
                            span
                        p Все новости
        .insta
            .container
                .insta-img
                    .img-item.insta-block
                        .h1 Следите <br> за нами в Instagram
                        .i #Bellagio
                    .img-item
                        img(src=('./img/insta-1.jpg'))
                    .img-item
                        img(src=('./img/insta-2.jpg'))
                    .img-item
                        img(src=('./img/insta-3.jpg'))
                    .img-item
                        img(src=('./img/insta-4.jpg'))
                    .img-item
                        img(src=('./img/insta-5.jpg'))
                    .img-item
                        img(src=('./img/insta-6.jpg'))
        .contact
            .container
                #map.col-md-6.col-sm-12
                .contact__block.col-md-6.col-sm-12
                    .h1 записаться <br> к специалисту онлайн
                    form
                        p Оставьте заявку и мы вам перезвоним
                        .input--nao
                            input(class='input__field--nao' type="name" id='input1')
                            label(class='input__label--nao' for='input1')
                                span.input__label-content--nao Как вас зовут?
                            svg(class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none")
                                path(d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0")
                        .input--nao
                            input(class='input__field--nao phone' type="tel" id='input2')
                            label(class='input__label--nao' for='input2')
                                span.input__label-content--nao Ваш контактный телефон
                            svg(class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none")
                                path(d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0")
                        .input--nao.input-services
                            .input-services-block.input-triangle
                                input(class='input__field--nao' type="text" id='input3')
                                label(class='input__label--nao' for='input3')
                                    span.input__label-content--nao Какая услуга вас интересует?
                                svg(class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none")
                                    path(d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0")
                            ul.label-list
                                li
                                    input(type="checkbox" name='iCheck' id='list1')
                                    label(for='list1') Маникюр и педикюр
                                li
                                    input(type="checkbox" name='iCheck' id='list2')
                                    label(for='list2') Услуги косметолога
                                li
                                    input(type="checkbox" name='iCheck' id='list3')
                                    label(for='list3') Уход за волосами
                                li
                                    input(type="checkbox" name='iCheck' id='list4')
                                    label(for='list4') Уход за телом
                        .input--nao.input-half.input-triangle
                            input(class='input__field--nao date' type="text" id='input4')
                            label(class='input__label--nao' for='input4')
                                span.input__label-content--nao Удобная для вас дата
                            svg(class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none")
                                path(d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0")
                        .input--nao.input-half.input-triangle
                            input(class='input__field--nao time' type="text" id='input5')
                            label(class='input__label--nao' for='input5')
                                span.input__label-content--nao Удобное для вас время
                            svg(class="graphic graphic--nao" width="300%" height="100%" viewBox="0 0 1200 60" preserveAspectRatio="none")
                                path(d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0")
                    .btn-more Записаться
        footer
            .container
                .footer-top
                    nav
                        ul
                            li
                                a(href='') Главная
                            li
                                a(href='') О салоне
                            li
                                a(href='') Услуги
                            li
                                a(href='') Косметика
                            li
                                a(href='') Наш Блог
                            li
                                a(href='') Контакты
                    .search
                        label
                        input(placeholder="Поиск" type="search")
                    .socials
                        ul
                            li
                                a(href='')
                            li
                                a(href='')
                            li
                                a(href='')
                .footer-middle
                    .footer-middle--left
                        p Украина, г. Киев, ул. Горького, 19/21
                        i График работы: с 10:00 до 21:00
                    .footer-middle--center
                        a(href='')
                            img(src=('./img/logo.png'))
                    .footer-middle--right
                        p +38 (044) 289 00 00    |   +38 (067) 611 00 05
                        a(href='') Заказать звонок
                .footer-bottom.clear
                    .footer-bottom--left
                        p © Bellagio, 2016. Все права защищены.
                    .footer-bottom--right
                        p Сделано в Digital Agency <a>“C-Format”</a>







    script(src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false')
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/owl.carousel.min.js')
    script(type='text/javascript', src='js/classie.js')
    script(type='text/javascript', src='js/jquery.maskedinput.min.js')
    script(type='text/javascript', src='js/jquery-ui.min.js')
    script(type='text/javascript', src='js/masonry.pkgd.min.js')
    script(type='text/javascript', src='js/wickedpicker.min.js')
    script(type='text/javascript', src='js/icheck.min.js')
    script(type='text/javascript', src='js/script.js')





